/*........................................................................................................................................................................................*/
/*Landscape Mode Tablet, Laptop and Destkop Devices*/
@media (min-width: 1200px) {
  .titleDivClass {
    position: relative;
    top: 0vh;
    left: 0vw;
    width: 100vw;
    height: auto;
  }

  .titlePClass {
    position: relative;
    top: 0vh;
    left: 4.5vw;
    width: 91vw;
    font-size: 3.2vw;
    text-align: center;
    font-weight: bold;
  }

  .introductionDivClass {
    position: relative;
    top: 0vh;
    left: 4vw;
    width: 92vw;
    height: auto;
  }

  .introductionDivClass p {
    text-align: justify;
    font-size: 1.6vw;
  }

  .SOLIDTreeImgClass {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .endingDivClass {
    position: relative;
    top: 0vh;
    left: 4vw;
    width: 92vw;
    height: 7.5vh;
  }

  .endingPreviousButtonClass {
    top: 0vh;
    left: 4vw;
    width: 11vw;
    border-radius: 2.5vh;
    font-size: 3vh;
  }

  .endingNextButtonClass {
    top: 0vh;
    right: 4vw;
    width: 11vw;
    border-radius: 2.5vh;
    font-size: 3vh;
  }
}
