/*........................................................................................................................................................................................*/
/*Portrait Mode Smartphone Devices*/
@media (max-width: 575.98px) {
  .titleDivClass {
    position: relative;
    top: 0vh;
    left: 0vw;
    width: 100vw;
    height: auto;
  }

  .titlePClass {
    position: relative;
    top: 0vh;
    left: 4.5vw;
    width: 91vw;
    font-size: 6vw;
    text-align: center;
    font-weight: bold;
  }

  .introductionDivClass {
    position: relative;
    top: 0vh;
    left: 4.5vw;
    width: 91vw;
    height: auto;
  }

  .introductionDivClass p {
    text-align: justify;
    font-size: 4.75vw;
  }

  .SOLIDTreeImgClass {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .endingDivClass {
    position: relative;
    top: 0vh;
    left: 4.5vw;
    width: 91vw;
    height: 12.5vh;
  }

  .endingPreviousButtonClass {
    top: 0vh;
    left: 4vw;
    width: 32vw;
    border-radius: 2.5vh;
    font-size: 3vh;
  }

  .endingNextButtonClass {
    top: 0vh;
    right: 4vw;
    width: 32vw;
    border-radius: 2.5vh;
    font-size: 3vh;
  }
}
